<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>Insert title here</title>
<script th:inline="javascript">
	if ([[${msg}]] != null) {
		alert([[${msg}]])		
	}
</script>
</head>
<body>
	<hr>
	<h2>로그인</h2>
	<hr>
	<form th:action="@{/login}" method="post">
		<table border="1">
			<tr>
				<th>ID</th>
				<td><input type="text" name="id"></td>
			</tr>
			<tr>
				<th>PASSWORD</th>
				<td><input type="password" name="password"></td>
			</tr>
		</table>
		<button>로그인</button>
	</form>
</body>
</html>